.root {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

.popUpTest {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    position: fixed;
}

.root-blured {
    overflow: hidden;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(22px);
}