.root {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    position: relative;
}

.subscribe {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    padding-left: 350px;
    padding-top: 220px;
    &  > img {
        position: absolute;
        top: 100px;
        left: -140px;
        z-index: 0;
        width: 550px;
        height: 500px;
    }
    &-info {
        z-index: 1;
        display: flex;
        flex-direction: column;
        & > h1 {
            font-family: 'Manrope';
            font-weight: 800;
            font-size: 26px;
            line-height: 1.44;
        }
        & > span {
            margin-top: 10px;
            font-family: 'Inter';
            font-weight: 400;
            font-size: 16px;
            line-height: 1.7;
            color: #4F596A;
        }
        & > button {
            margin-top: 20px;
            padding: 15.5px 108.5px;
            font-family: 'Inter';
            font-weight: 600;
            font-size: 13px;
            line-height: 1.1875;
            width: 323px;
            height: 50px;
            border-radius: 33px;
            background: linear-gradient(44.11deg, #9D5EBD 15.75%, #9F06FF 84.63%);
            text-align: center;
            color: #fff;
            border-width: 0px;
        }
    }

}
.info {
    display: flex;
    width: 100%;
    flex-direction: row;
    padding-top: 100px;
    & > img {
        width: 200px;
        height: 55px;
    }
}
.info_description {
    display: flex;
    flex-direction: column;
    padding-bottom: 96px;
    padding-left: 74px;
    & > h2 {
        font-family: 'Mulish';
        font-weight: 700;
        font-size: 13px;
        color: #222222;
        line-height: 1.5;
    }
    & > span {
        margin-top: 24px;
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 13px;
        line-height: 1.5;
        color: #222222;
        opacity: 0.6;
    }
    &_email {
        position: relative;
        margin-top: 12px;
        padding-left: 30px;
        & > span {
            font-family: 'Manrope';
            font-weight: 800;
            font-size: 14px;
            line-height: 1.58px;
            color: #222222;
        }
        & > img {
            position: absolute;
            left: 0px;
        }
    }
    &_phone {
        position: relative;
        margin-top: 12px;
        padding-left: 30px;
        & > span {
            font-family: 'Manrope';
            font-weight: 800;
            font-size: 14px;
            line-height: 1.58px;
            color: #222222;
        }
        & > img {
            position: absolute;
            left: 3px;
        }
    }
}